# Hypothesis Testing Exercise

# Question 1: Cutlet Question

**Question**- A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% signifance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

**Answer**- 
Null hypothesis (H0): There is no significant difference in the diameter of the cutlet between Unit A and Unit B.

Alternative hypothesis (H1): There is a significant difference in the diameter of the cutlet between Unit A and Unit B.  

Perform a t-test for independent samples to check whether there is a significant difference in the diameter of the cutlet between two units.

Interpret the results by looking at the t-statistic, p-value and the significance level.

In [5]:
import pandas as pd
df = pd.read_csv('/content/Cutlets.csv')

In [8]:
from scipy.stats import ttest_ind

# Define the data for Unit A and Unit B
unit_a = df['Unit A']
unit_b = df['Unit B']

# Perform the t-test
t_stat, p_val = ttest_ind(unit_a, unit_b)

# Print the results
print("t-statistic: ", t_stat)
print("p-value: ", p_val)

# Check the p-value against the significance level
if p_val < 0.05:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

t-statistic:  0.7228688704678063
p-value:  0.4722394724599501
Fail to reject the null hypothesis

The t-test is a statistical test that compares the means of two groups (Unit A and Unit B) to see if there is a significant difference between them. The t-statistic is a measure of the size of the difference between the means of the two groups. A larger t-statistic means that the difference between the means is larger, while a smaller t-statistic means that the difference between the means is smaller.

The p-value is a measure of how likely it is to see a difference between the means of the two groups as large or larger than the one we observed, if there is actually no difference between the means. A small p-value means that it is unlikely to see a difference as large or larger than the one we observed by chance, while a large p-value means that it is likely to see a difference as large or larger than the one we observed by chance.

In this case, the t-statistic is 0.72, which is a small difference between the means of Unit A and Unit B. The p-value is 0.47, which is greater than the significance level of 0.05. This means that there is not enough evidence to suggest that there is a significant difference between the mean diameter of cutlets in Unit A and Unit B. So, we fail to reject the null hypothesis which states that there is no significant difference between the mean diameter of cutlets in Unit A and Unit B.

# Question 2: Laboratory TAT

**Question-** A hospital wants to determine whether there is any difference in the average Turn Around Time TAT of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. 
Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

**Answer**- To analyze this data, you could perform a one-way ANOVA test. A one-way ANOVA test is a statistical test that compares the means of multiple groups (in this case, the TAT of reports of 4 laboratories) to see if there is a significant difference among them.

H0= There is no difference in the average TAT among the different laboratories.

Ha= There is a difference in the average TAT among the different laboratories.

The ANOVA test will generate a F-statistic and a p-value. A small p-value (typically less than 0.05) indicates strong evidence against the null hypothesis, while a large p-value (typically greater than 0.05) indicates weak evidence against the null hypothesis. If the p-value is less than the significance level (0.05), we reject the null hypothesis in favor of the alternative hypothesis. If the p-value is greater than the significance level, we fail to reject the null hypothesis.

In [9]:
import pandas as pd
df = pd.read_csv('/content/LabTAT.csv')

In [11]:
from scipy import stats

# Define the data for all the 4 labs
lab1 = df['Laboratory 1']
lab2 = df['Laboratory 2']
lab3 = df['Laboratory 3']
lab4 = df['Laboratory 4']

# Perform ANOVA test
F_value, p_value = stats.f_oneway(lab1, lab2, lab3, lab4)

# Check if p-value is less than significance level (0.05)
if p_value < 0.05:
    print("There is a significant difference in the average TAT among the different laboratories")
else:
    print("There is no significant difference in the average TAT among the different laboratories")

There is a significant difference in the average TAT among the different laboratories


# Question 3: Buyer Ratio

**Question**- Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

Ho= All proportions are equal. 

Ha= Not all proportions are equal. 

1. Check p-value.
2. If p-value < alpha, we reject Null Hypothesis.

**Answer**- To test if the male-female buyer ratios are similar across regions, we can use a chi-squared test for goodness of fit.

In [12]:
from scipy.stats import chi2_contingency

# Observed data (males, females) for each region
East = [50, 435]
West = [142, 1523]
North = [131, 1356]
South = [70, 750]

# Combine data into a single contingency table
data = [East, West, North, South]

# Perform chi-squared test
chi2, p, dof, expected = chi2_contingency(data)

# Check if p-value is less than significance level (0.05)
if p < 0.05:
    print("Reject Null Hypothesis. Not all proportions are equal.")
else:
    print("Fail to reject Null Hypothesis. All proportions are equal.")

Fail to reject Null Hypothesis. All proportions are equal.

# Question 4: Customer Order Form

**Question**- TeleCall uses 4 centres around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective % varies by centre. Please analyze the data at 5% significance level and help the manager  draw appropriate inferences.

**Answer**-

In [26]:
import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2
df = pd.read_csv('/content/Costomer+OrderForm.csv')

In [18]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [19]:
print(df['Phillippines'].value_counts(),df['Indonesia'].value_counts(),df['Malta'].value_counts(),df['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [20]:
observed=([[271,267,269,280],[29,33,31,20]])

In [24]:
stat, p, dof, expected = chi2_contingency([[271,267,269,280],[29,33,31,20]])
print(stat)
print(p)
print('dof=%d' % dof)
print(expected)

3.858960685820355
0.2771020991233135
dof=3
[[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [27]:
alpha = 0.05
prob=1-alpha
critical = chi2.ppf(prob, dof)
print('probability=%.3f, critical=%.3f, stat=%.3f' % (prob, critical, stat))
if abs(stat) >= critical:
	print('Dependent (reject H0),variables are related')
else:
	print('Independent (fail to reject H0), variables are not related')

probability=0.950, critical=7.815, stat=3.859
Independent (fail to reject H0), variables are not related

In [28]:
print('significance=%.3f, p=%.3f' % (alpha, p))
if p <= alpha:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

significance=0.050, p=0.277
Independent (fail to reject H0)